
<div class="well">
<div class="pull-right ">
<a href= newsletter >Sign up for the newsletter!<span class="icon icon-envelope icon-large"></span></div></a>
<h1>Welcome to tweeter</h1>
<p>Start a conversation, explore your interests, and be in the know.</p>
<img src="http://cdn.ientry.com/sites/webpronews/pictures/twitter-app-links.jpg" height="100" width="100">
