<div class="well span6 ">

 <h1>Sign up for weekly newsletter</h1>
	<%= form_for(@newsletter, url: newsletter_path) do |f|%>

		<section><%= f.text_field(:email, placeholder: 'email') %></section>
		<section><%= 	f.submit("submit", class: 'btn btn-success') %></section>

	<% end %>
			
