/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self

 */
.navbar-inner {
  background-image: -moz-linear-gradient(top, #52b2d8, #1c7ea5);
  background-image: -ms-linear-gradient(top, #52b2d8, #1c7ea5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52b2d8), to(#1c7ea5));
  background-image: -webkit-linear-gradient(top, #52b2d8, #1c7ea5);
  background-image: -o-linear-gradient(top, #52b2d8, #1c7ea5);
  background-image: linear-gradient(top, #52b2d8, #1c7ea5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'52b2d8, endColorstr='#'1c7ea5, GradientType=0);
}
.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 30px;

  color: white;
}
.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 15px;
  color: white;
  text-shadow: none;
}
