<html>
	<head>
		<title>Tweeter</title>
	</head>
		<body>
			<h2>Tweeter!</h2><br>
			<h3>the twitter clone thats better</h3>
			<%= yield %>
			<p>
			Your friends,<br />
			Tweeter
			</p>
		 <p> sent by Tweeter &copy; </p>
 </body>
</html>